/*     >>>>>Index<<<<<      */

$colorGris: #728b97de;
$colorVerde: #42FF66;


	


.parrafo {
		border: solid none;  
		font-size: 18px;
		margin-left: 10px;
    }
				


.Negritap {
	font-size: 22px;
	box-shadow: 0  10px  15px $colorVerde;
	border-radius: 10px;
				}
		




.imagen__tamaño {
  width: 100%;
  height: cover;
  border-radius: 10px;
 
  
}

.card {
	background-color: #c0c5c800;
	
}









