/*    >>>>>Servicios<<<<<     */
$colorFondo: #7FFFDA;
$colorSombra: #42FF66;

$colorVerde: #42FF66;
$colorGris: #728b97de;

.carousel_servicio {
  width: 100%;
  height: 100%;
border-radius: 10px;
 box-shadow: 0  10px  15px $colorGris;
  
 z-index: 0;
margin-bottom: 20px;
	margin-top: 20px;

}


.tamaño_servicio img {
	 width: 100%;
  height: 100%;

 




	
	

	

}



 

 
.col-lg-7{
  margin-top: 20px;
}
 

 